/* css for webpage with route basic-videos */
h4.title {
	border: 1px solid #ddd;
	padding: 12px 14px;
	background: #f2f2f2;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
}
h4.title span {
	padding-right: 11px;
	font-size: 22px;
}
h5.subtitle {
	font-size: 17px;
	line-height: 28px;
	margin: 0;
	padding: 5px 0;
	display: inline-block;
}
h5.subtitle span {
	font-size: 20px;
	padding-right: 7px;
}

.table > tbody > tr > td.coursetl{
	padding-top: 25px;
    border-top: none;
    border-bottom-width: 3px;
    padding-left: 8px !important;
}
div.videotl{
	    padding: 3px 2px;
    font-size: 16px;
}