
{% extends "templates/web.html" %}
{% block title %}{{ _("Premium Video Library") }}{% endblock %}
{% block header %}
	
{% endblock %}
{% block style %}
	<style>
	</style>
{% endblock %}

{% block page_content %}
<h4 class="octicon octicon-device-camera-video" > {{ _("Premium Video Library") }}</h4>
<div class="table-responsive">
<table class="table borderless table-condensed"   >
	<tbody>
			<tr>
	{%set ns=namespace(course="none")%}
	{% for video in video_data %}
		{% if loop.first == true or (video.course!=ns.course and ns.course!="none") %}
			<tr>
			<td  ><h5 class="octicon octicon-file-text" >  {{ _("Course -") }} {{video.course}}</h5>
			</tr>
		{% endif %}

		<td class="small"><div>{{video.video}}</div><div>{{video.vimeo}}</div></td>
		{% if loop.index % 4 == 0 %}
		<tr>
		{% endif %}	

		{% if  loop.length == 0 %}
			<b>Please purchase premium video plans. You are not subscribed to any video course.</b>
		{% endif %}
	{%set ns.course=video_data[loop.index-1].course%}
	{% endfor %}
</tr>
</tbody>
</table>
</div>
{% endblock %}