
{% extends "templates/web.html" %}
{% block title %}{{ _("Premium Video Library") }}{% endblock %}
{% block header %}
	
{% endblock %}
{% block style %}
	<style>
	</style>
{% endblock %}

{% block page_content %}
<h4 class="octicon octicon-device-camera-video" > {{ _("Premium Video Library") }}</h4>
<div class="table-responsive">
<table class="table borderless table-condensed"   >
	<tbody>
			<tr>
	{% for video in video_data %}

		<!-- {% if loop.changed(video.course) %} -->
		{% if loop.previtem is defined %}
		<tr>
		{% endif %}
		<tr>
		<td  ><h5 class="octicon octicon-file-text" >  {{ _("Course -") }} {{ video.course }}</h5>
		</tr>
		<!-- {% endif %} -->
	

		<td class="small"><div>{{video.video}}</div><div>{{video.vimeo}}</div></td>
		{% if loop.index % 4 == 0 %}
		<tr>
		{% endif %}	
	{% else %}
	<b>Please purchase premium video plans. You are not subscribed to any video course.</b>
	{% endfor %}
</tr>
</tbody>
</table>
</div>
{% endblock %}