{% extends "video_library/templates/video_web.html" %}
{% block title %}{{title}} {{ _("Video Library") }}{% endblock %}
{% block header %}

{% endblock %}
{% block style %}
	<style>
        {% include "video_library/templates/generators/video_category.css" %}
        {% include "video_library/templates/generators/owl.carousel.css" %}
        {% include "video_library/templates/generators/owl.theme.css" %}
	</style>
{% endblock %}

{% block page_content %}
<h4 class="title"> <img src="/assets/video_library/image/nounlesson_717537.png" style="max-width:50px;" /> {{title}} {{ _("Video Library") }}  <span class="pull-right sml"><img src="/assets/video_library/image/tag_938952.png" style="max-width:40px;" /> exclusive #{{total_video_count}} videos</span></h4>


{% if featured_video_data %}
<div class="feature-block" style="max-width:100%; overflow:hidden;">
  <h5 class="subtitle"> <img src="/assets/video_library/image/noun_417865.png" /> {{ _("Featured Video") }}</h5>
    
<div class=" m0 slick_slider" id="slick_slider">
    {% for video in featured_video_data %}
    <div class="  video_post" > 
    	<div class="inner row m0"> 
        		<div class="row screencast m0">{{video.vimeo}} </div> 
            <div class="row m0 post_data">
            	<div class="category"><img src="/assets/video_library/image/catagory.png" alt="">{{video.course}}</div>
                <div class="row m0"><span class="post_title">{{video.video}}</span></div>
                
            </div>
        </div> 
    </div> 
    {% endfor %}
</div>
</div>
{% endif %}

<div>
	 <div class="panel-group" id="accordion">
    {%set group = {'count': 0} %}
    {%set collaped = {'count': 0} %}
    {% for video in video_data %}
    {% if loop.changed(video.course) %}
    {% if group.update({'count': group.count+1}) %} {% endif %}
    {% if collaped.update({'count': collaped.count+1}) %} {% endif %}
   			 <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#abc{{collaped.count}}">
                        <img src="/assets/video_library/image/menu_110138.png" style="max-width:50px;" /> {{video.course}}  <span></span>
                    </a>
                  </h4>
                </div>  
  				<div id="abc{{collaped.count}}" class="panel-collapse collapse {% if collaped.count == 1 %} in {% endif %}">
                  <div class="panel-body">
                      <div class="row">
                        {% endif %}
                        <div class=" col-md-3 video_post" > 
                            <div class="inner row m0"> 
                                <div class="row screencast m0">{{video.vimeo}} </div> 
                                <div class="row m0 post_data">
                                    <div class="row m0"><span class="post_title">{{video.video}}</span></div>
                                    
                                </div>
                            </div> 
                        </div> 
                  {% if loop.nextitem is defined and loop.nextitem.course != video.course %}
                  </div>
                  </div>
              		</div>
                    </div>
                  {% endif %}
            
  {% endfor %}
  
 </div>  
</div>


</div>

</div>
<div class="text-center item-group-nav-buttons">
    {% if frappe.form_dict.start|int > 0 %}
    <a class="btn  pagingbtn" href="/{{ pathname }}?start={{ frappe.form_dict.start|int - page_length }}"><i class="fa fa-arrow-circle-left"></i></a>
    {% endif %}
    {% if video_data|length > page_length %}
    {% endif %}
    {% if show_next|int ==1 %}
    <a class="btn  pagingbtn" href="/{{ pathname }}?start={{ frappe.form_dict.start|int + page_length}}"><i class="fa fa-arrow-circle-right"></i></a>
    {% endif %}
</div>


{% block javascript %}
{% endblock %}

{% endblock %}